<section class="container centered">
  <div class="about">
    <h1 class="hi">{{ .Site.Params.greeting }}</h1>
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
  </div>

  <div class="services">
    <h2>I'm a...</h2>
    <ul class="services-teaser">
      {{ $services := .GetPage "/services" }}
      {{ $pages := where ($services.Pages.ByParam "homepage_weight") ".Params.homepage_link" "!=" nil }}
      {{ range $index, $page := $pages }}
        <li>
          <h2>
            <a class="service-mini-teaser" href="{{ .Permalink }}">{{ .Params.homepage_link }}</a>
            <span class="service-mini-teaser-sub">{{ .Params.homepage_link_sub }}</span>
          </h2>
        </li>
      {{ end }}
    </ul>
  </div>
</section>
